# Essential requirements for Structra development

# Logging and argument parsing are part of the Python Standard Library

# Unit testing and mocking library
unittest2>=1.1.0

# To mock file system paths and handle file-based operations
pathlib>=1.0.1

# Used for mocking in tests
mock>=4.0.3

# Optional: coverage tool for measuring test coverage
coverage>=6.4.1
